<style>
#tooltip {
  z-index: 99;
  pointer-events: none;
  position: absolute;
  border: 1px solid white;
  background: #ffff80;
  color: black;
  font-size: 10px;
  white-space: pre;
}
#map {
  white-space: pre;
  zoom: 2;
}
#map > div {
  display: inline-block;
  margin: 0;
  width: 16px;
  height: 16px;
  background-image: url('assets/tileset.png');
}
#map > div:hover {
  position: relative;
  margin: -1px;
  border: 1px solid #00ff00;
}
.t0 { background-image: unset !important; background-color: black; }
.t1 { background-position: 0 0 }
.t2 { background-position: -16 0 }
.t3 { background-position: -32 0 }
.t4 { background-position: 0 -16 }
.t5 { background-position: -16 -16 }
.t6 { background-position: -32 -16 }
.t7 { background-position: 0 -32 }
.t8 { background-position: -16 -32 }
.t9 { background-position: -32 -32 }
.t10 { background-position: -48 -32 }
.t11 { background-position: -48 0 }
.t12 { background-position: -80 0 }
.t13 { background-position: -80 -32 }
.t14 { background-position: 0 -48 }
.t15 { background-position: -16 -48 }
.t16 { background-position: -32 -48 }
.t17 { background-position: -48 -48 }
.t18 { background-position: -48 -64 }
.t19 { background-position: -48 -80 }
.t20 { background-position: -64 -48 }
.t21 { background-position: -32 -128 }
</style>
<div id='map'></div>
<button id='export'>Export</button>
<div id='tooltip'></div>
<script>
  const classes = {
    0: 't0',
    7: 't1',
    8: 't2',
    9: 't3',
    4: 't4',
    5: 't5',
    6: 't6',
    1: 't7',
    2: 't8',
    3: 't9',
    PageUp: 't10',
    PageDown: 't11',
    End: 't12',
    Home: 't13',
    x: 't14',
    c: 't15',
    v: 't16',
    q: 't17',
    a: 't18',
    z: 't19',
    Clear: 't20',
    '+': 't21',
  };
  const mapDiv = document.querySelector('#map');
  const saved = JSON.parse(localStorage.saved || 'null');
  const map = [];
  for (let y = 0; y < 128; y++) {
    for (let x = 0; x < 128; x++) {
      const cell = document.createElement('DIV');
      let n = saved ? saved[y * 128 + x] : (y == 127 ? 2 : 0);
      cell.className = 't' + n;
      cell.x = x;
      cell.y = y;
      map.push(n);
      mapDiv.appendChild(cell);
    }
    const br = document.createElement('BR');
    mapDiv.appendChild(br);
  }
  let current = null;
  let lastCls = null;
  let holdCls = null;
  function setTile(cls) {
    if (!cls) cls = holdCls || lastCls;
    if (!cls) return;
    current.className = cls;
    if (cls != 't0') lastCls = cls;
    map[current.y * 128 + current.x] = Number(cls.substr(1));
    localStorage.saved = JSON.stringify(map);
  }
  window.addEventListener('mouseover', event => {
    current = event.target;
    tooltip.innerText = current.x + ', ' + current.y;
    tooltip.style.top = (2 * current.offsetTop + current.offsetHeight + 8) + 'px';
    tooltip.style.left = (2 * current.offsetLeft + current.offsetWidth) + 'px';
    if (event.buttons == 1) {
      setTile();
    } else if (event.buttons == 4) {
      setTile('t0');
    }
  });
  window.addEventListener('mousedown', event => {
    current = event.target;
    event.preventDefault();
    if (event.buttons == 1) {
      setTile();
    } else if (event.buttons == 4) {
      setTile('t0');
    } else if (event.buttons == 2) {
      lastCls = current.className;
    }
  });
  window.addEventListener('contextmenu', event => event.preventDefault());
  window.addEventListener('keydown', event => {
    console.log(event.key);
    if (event.key == 'e' && event.ctrlKey) {
      event.preventDefault();
      document.querySelector('#export').click();
      return;
    }
    if (!current) return;
    const cls = classes[event.key];
    if (cls) {
      event.preventDefault();
      holdCls = cls;
      setTile(cls);
    }
  });
  window.addEventListener('keyup', event => holdCls = null);
  document.getElementById('export').addEventListener('click', () => {
    const element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(localStorage.saved));
    element.setAttribute('download', 'map.json');

    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
  });
</script>

